<!DOCTYPE html>
<html>
  <head>
    <title>Weather</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= yield :props %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body class="bg-slate-500">
    <div class="container mx-auto mt-8 px-5 flex">
      <% if user_logged_in? %>
        <span><%= current_user.name %></span>
        <br />
        <%= link_to 'Logout', logout_path, method: :delete %>
      <% else %>
        <span>Guest</span>
        <br />
        <%= link_to 'Login', login_path %>
      <% end %>
    </div>
    <main class="container mx-auto p-5 flex bg-slate-50 rounded shadow">
      <%= yield %>
    </main>
    <%= yield :scripts %>
  </body>
</html>
