<!DOCTYPE html>
<html>
  <head>
    <title>Weather</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font" %>
    <%= yield :props %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body class="bg-slate-500">
    <div class="container mx-auto mt-8 justify-between flex flex-row mb-2">
      <div class="text-white text-2xl font-bold">
        Weather Tracker
      </div>
      <div class="justify-end flex mb-2 items-center">
        <% if user_logged_in? %>
          <span class="text-white border-r pr-3 mr-3"><%= current_user.name %></span>
          <a href="<%= logout_path %>" class="btn-primary" data-method="delete">Logout</a>
        <% else %>
          <span class="text-white border-r pr-3 mr-3">Guest</span>
          <a href="<%= login_path %>" class="btn-primary">Login</a>
        <% end %>
      </div>
    </div>
    <main class="container mx-auto p-5 flex bg-slate-50 rounded shadow">
      <%= yield %>
    </main>
    <footer class="container mx-auto mb-3">
      <div class="text-center text-white text-sm mt-4">
        &copy; 2023 Weather Tracker
      </div>
    </footer>
    <%= yield :scripts %>
  </body>
</html>
